<form class="deviceForm" [formGroup]="deviceForm" (ngSubmit)="submitDeviceForm(deviceForm)">
  <div class="w-100 card-body">
    <li class="row">
      <div class="col-3 form-group">
        <input
          type="text"
          name="serialNumber"
          class="form-control"
          formControlName="serialNumber"
          placeholder="Serial Number"
        />
      </div>
      <div class="col form-group">
        <input
          type="text"
          name="description"
          class="form-control"
          placeholder="Enter description"
          formControlName="description"
        />
      </div>
      <div class="col-2 form-group">
        <select name="type" id="type" class="form-control" formControlName="type">
          <option value="" selected>Select Type</option>
          <option value="LAPTOP">Laptop</option>
          <option value="MOBILE">Mobile</option>
          <option value="TABLET">Tablet</option>
        </select>
      </div>

      <div class="col-2 form-group">
        <button [disabled]="!deviceForm.valid" type="submit" class="btn btn-primary btn-sm">
          {{ buttonText }}
        </button>
      </div>
    </li>

    <span *ngIf="!deviceForm.valid" class="small bg-danger">Please fill all data</span>
  </div>
</form>
